.expertise {
  @include content-padding-inline;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  height: 1375px;

  border-radius: 30px;
  background-color: $white;
  margin-top: 192px;

  @include on-tablet {
    margin-top: 148px;
  }

  &__title {
    @extend %expertise-title;

    margin: 0;
    padding-block: 72px 56px;

    max-width: 280px;

    @include on-tablet {
      max-width: 558;
      padding-block: 128px 64px;
    }
  }

  

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include on-tablet {
      padding-bottom: 72px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__image {
    width: 166px;
    height: 166px;
    background-size: contain;
    background-repeat: no-repeat;

    &--branding {
      background-image: url(../images/expertise/branding-img.png);
    }

    &--communication {
      background-image: url(../images/expertise/communication-img.png);
    }

    &--strategy {
      background-image: url(../images/expertise/strategy-img.png);
    }
  }

  &__name {
    @extend %expertise-name;

    padding-top: 32px;
  }

  &__description {
    @extend %expertise-text;

    margin: 0;
    padding-top: 16px;
    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 0;
      max-width: 362px;
    }
  }
}
