.feedback {
  @include content-padding-inline;

  margin-block: 120px;

  @include on-tablet {
    margin-top: 148px;
  }

  &__section--name {
    @extend %feedback-section-name;
  }

  &__title {
    @extend %feedback-title;

    margin-top: 16px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    width: 280px;
    height: 456px;
    background-color: $white;

    @include on-tablet {
      width: 558px;
      height: auto;
    }
  }

  &__image {
    display: block;
    width: 196px;
    height: 196px;
    margin-top: 32px;
    margin-bottom: 24px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    &-first {
      background-image: url(../images/feedback/Photo-1.png);
    }

    &-second {
      background-image: url(../images/feedback/Photo-2.png);
    }

    &-third {
      background-image: url(../images/feedback/Photo-3.png);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url(../images/icon/icon-feedback.png);
  }

  &__description {
    @extend %feedback-description;

    padding-top: 8px;
    padding-bottom: 16px;
    max-width: 196px;

    @include on-tablet {
      max-width: 362px;
    }
  }

  &__name {
    @extend %feedback-name;

    padding-bottom: 4px;
  }

  &__job {
    @extend %feedback-job;

    padding-bottom: 32px;
  }
}
