.header {
  background-color: $header-bg;
  max-height: 870px;

  &__container {
    @include content-padding-inline;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 48px;

    @include on-tablet {
      padding-bottom: 56px;
    }
  }

  &__logo {
    margin-right: 32px;

    &-img {
      width: 46px;
      height: 28px;
    }
  }

  &__cta {
    display: block;
    align-items: center;
    align-items: flex-start;
    white-space: nowrap;

    &-link {
      @extend %cta-link;

      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 83%;
        left: 0;
        width: 67px;
        height: 2px;
        background-color: #2060f6;
        margin-top: 8px;
      }
    }
  }

  &__bottom {
    &-title {
      @extend %h-1;

      max-width: 280px;
      margin: 0;
      padding-bottom: 32px;

      @include on-tablet {
        min-width: 558px;
        padding-bottom: 24px;
      }
    }

    &-subtitle {
      @extend %subtitle;

      display: inline-block;
      max-width: 280px;

      @include on-tablet {
        max-width: 362px;
      }
    }
  }

  &__button {
    margin-top: 72px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-top: 56px;
      margin-bottom: 147px;
    }
  }

  /* Swiper */
  &__swiper {
    position: relative;
    width: 100vw;
    height: 390px;
    overflow: hidden;
    z-index: 0;

    &-wrapper {
      display: flex;
      width: 100%;
      height: 390px;
      transition: transform 0.3s ease-out;
    }

    &-nav {
      display: flex;
      position: absolute;
      bottom: 126px;
      left: 46px;
      transform: translateX(-50%);
      gap: 16px;
      z-index: 10;
    }

    &-slide {
      flex: 0 0 100%;
      width: 100%;
      height: 100%;
    }

    &-image {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;

    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .swiper-button-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    margin-left: 20px;

    @include on-tablet {
      margin-left: 70px;
    }
  }

  &__intro {
    transform: translateY(-124px);
    position: absolute;
    z-index: 10;
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 41px;
    }

    &-title {
      @extend %intro-title;

      padding-bottom: 8px;
      padding-top: 16px;
    }

    &-text {
      @extend %intro-text;

      padding-bottom: 24px;
    }
  }
}
