.page {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $page-color;

  &__body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
  }

  html:target {
    scroll-behavior: auto;
  }
}