.page {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: $page-color;

  &__body {
    margin: 0;
    padding: 0;
  }

  html:target {
    scroll-behavior: auto;
  }
}
