.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  height: 50px;
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  transition: all 0.3s ease;

  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  @include on-tablet {
    max-width: 264px;
  }

  &-text {
    @extend %button-text;

    text-align: center;
  }
}
