.icon {
  cursor: pointer;

  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--menu {
    background-image: url('../images/header/menu.png');

    @include on-tablet {
      margin-right: 300px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__aside {
    cursor: pointer;
    width: 28px;
    height: 28px;

    &:hover {
      box-shadow: 4px 1px 7px 0 rgba(230, 228, 228, 0.29);
      transition: 0.3s;
    }
  }

  &__footer {
    width: 24px;
    height: 24px;
    transition: 0.3s;
    &--facebook {
      background-image: url('../images/icon/facebook-icon.png');

      &:hover {
        transform: scaleX(1.1);
        background-image: url('../images/icon/facebook-hover.png');
      }
    }

    &--twitter {
      background-image: url('../images/icon/twitter-icon.png');

      &:hover {
        transform: scaleX(1.1);
        background-image: url('../images/icon/twitter-hover.png');
      }
    }

    &--instagram {
      background-image: url('../images/icon/instagram-icon.png');

      &:hover {
        transform: scaleX(1.1);
        background-image: url('../images/icon/instagram-hover.png');
      }
    }
  }
}
