// COLORS
$page-color: #e9f0ff;
$white: #fff;
$c-gray: #eee;
$btn-color: #2060f6;
$text-color: #6c788b;

// Header
$h-color: #253757;
$header-bg: #2c2c2c;

// Services
$services-btn: #334563;
$services-name-color: #c0cdd7;

// Feedback
$feedback-title-color: #253757;
$feedback-name-color: #c0cdd7;
$feedback-text-color: #6c788b;

// Vision
$vision-title-color: #253757;
$vision-text-color: #6c788b;

// Footer
$footer-bg-color: #2c2c2c;

// SCREEN SIZE
$large: 2560px;
$design: 1600px;
$desktop: 1280px;
$tablet: 640px;
