// COLORS
$page-color:#e9f0ff;
$white:#fff;
$c-gray: #eee;
$btn-color:#2060F6;
$text-color:#6C788B;

//header
$h-color:#253757;
$header-bg:#2C2C2C;

// 
$services-btn:#334563;
$services-name-color:#C0CDD7;

// 
$feedback-title-color:#253757;
$feedback-name-color:#C0CDD7;
$feedback-text-color:#6C788B;

//Vision
$vision-title-color:#253757;
$vision-text-color:#6C788B;

// footer
$footer-bg-color:#2C2C2C;

//SCREEN-SIZE
$large:2560px;
$design:1600px;
$desktop:1280px;
$tablet:640px;
